* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sidebar {
    display: grid;
    grid-row: 1 / -1;
    background-color: #38bdf8;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-template-rows: 70px minmax(min-content, max-content) minmax(min-content, max-content);
}

.all {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.header{
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 2fr auto;
    box-shadow: 0 4px 2px -2px gray;
}

.main-content {
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(243, 243, 243);

}

.projects {
    display: grid;
    grid-area: 1 / 1 / -1 / 3;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: minmax(200px, auto);
}

.rightcontent {
    grid-row: 1 / -1;
    display: grid;
}
body {
    margin: 0;
}

.dashboard {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    margin-bottom: 10px;
}

#dashicon {
    height: 100%;
    width: 30%;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(219deg) brightness(109%) contrast(99%);
}

.svg {
    height: 1.5em;
    width: 25%;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(219deg) brightness(109%) contrast(99%);
}

.sidebutton {
    font-size: 0.75em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    flex-grow: 0;
}

.links {
    display: grid;
    grid-auto-rows: auto;
}

.settings {
    margin-top: 50px;
}

.header1,
.header2,
.header3,
.header4 {
    padding: 15px 30px;
    display: flex;
    align-items: center;
    font-weight: 700;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.headersvg {
    height: 1.5em;
    width: 1.5em;
}

input {
    border-radius: 10px;
    flex: 1;
    background-color: lightgray;
    border: none;
    height: 1.5em;
}

.profile-small {
    height: 3em;
    width: 3em;
    padding: 0px 15px;
    border-radius: 50%;
}

.profile-big {
    height: 4em;
    width: 4em;
    padding: 0px 15px;
    border-radius: 50%;
}

.userinfo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header3 {
    padding: 0px 30px;
    padding-right: 0px;
}

.header3 *,
.header4 * {
    align-self: flex-start;
}

.greeting{
    margin: auto;
}

.hi {
    font-size: 0.8em;
}

.username {
    font-size: 1.5em;
}

.header4 {
    justify-content: space-evenly;
    align-items: center;
    padding-left: 0px;
}

button {
    background-color: #38bdf8;
    border: none;
    color: white;
    padding: 7px 20px;
    border-radius: 20px;
    margin: 0px 15px;
}

.header2 {
    justify-content: flex-end;
}

.text {
    display: flex;
    justify-content: space-between;
}

.project-display {
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    background-color: rgb(243, 243, 243);
    display: grid;
}

.project {
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    border-left: 10px solid orange;
}

.project-text {
    margin: 10px;
    margin-top: 25px;
    word-wrap: break-word
}

.bold {
    font-weight: 550;
}

.gray {
    color: gray;
    font-size: 0.9em;
}